@ViewBag.Recipe.GetName()
@ViewBag.Recipe.GetDescription()
@ViewBag.Recipe.GetCookTime()
@ViewBag.Recipe.GetRate()

<br/>
Recipe has these tags:
@foreach (var tag in ViewBag.Tags1) {
  @tag.GetName() <br/>
}
<br/>

<form action="/recipes/@ViewBag.Recipe.GetId()/addtag" method="post">
<select name="tagId" id="tagId">
@foreach (var tag in ViewBag.Tags) {
<option value="@tag.GetId()">@tag.GetName()</option>
}
</select>
<button type="submit">Select</button>
</form>
